#root {
  margin: 15px;
  max-width: 980px;
  min-width: 980px;
  width: 100%;
}

.button-header,
.my-object,
.my-primitive {
  margin: 15px 0;
}

.my-object {
  list-style-type: '- ';
}

.object-item::marker {
  content: '';
}

.button-header {
  button {
    margin-left: 15px;
  }
}